<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Enviado</title>
</head>

<body>
    <h2>Se Adjunta el Reporte de las Metricas del Negocio</h2>
    
    <img src="../../static/img/foto_logo.jpeg" alt="Logo de Malmo">
    <a
        href="https://app.powerbi.com/reportEmbed?reportId=41dc1e3e-9138-4bc1-8122-9de07360a274&autoAuth=true&ctid=dfc8ac10-a86a-4d80-80d5-9b6fa51728db">Link
        del Reporte</a>

</body>

</html>