{% extends './base.html' %}
{% block title %} Listado de Ordenes {%endblock%}
{%block css%}
<!-- DataTables -->
<link rel="stylesheet"
    href="{{url_for('static',filename='admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
<link rel="stylesheet"
    href="{{url_for('static',filename='admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
<link rel="stylesheet"
    href="{{url_for('static',filename='admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}">
{%endblock%}
{%block menuizquierdo%}
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
 with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-shopping-cart"></i>
                <p>
                    Ordenes
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{{url_for('ordenes')}}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Ver Ordenes</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Cancelar Ordenes</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-mobile"></i>
                <p>
                    Productos
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{{url_for('productos')}}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Ver Productos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Registrar Productos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Editar Productos</p>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item menu-open menu-is-opening">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-users"></i>
                <p>
                    Clientes
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Ver Clientes</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Editar Clientes</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Eliminar Clientes</p>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-header">Recursos de Malmo</li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-comment-alt"></i>
                <p>
                    Chat Interno
                    <span class="badge badge-info right">2</span>
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon far fa-image"></i>
                <p>
                    Actualizar Recursos Multimedia
                </p>
            </a>
        </li>
</nav>
{%endblock%}

{%block body%}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Listado de Ordenes</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Id de Usuario</th>
                                    <th>Username</th>
                                    <th>Tipo de Usuario</th>
                                    <th>Nombre de Usuario</th>
                                    <th>Foto de Usuario</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for user in data['usuarios']%}
                                <tr>
                                    <td>{{user.id_usuario}}</td>
                                    <td>{{user.username}}</td>
                                    <td>{{user.tipo_usuario}}</td>
                                    <td>{{user.nombre_usuario}}</td>
                                    <td class="foto_usuario_tabla"><img src="{{user.foto_usuario}}" alt=""></td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

{%endblock%}

{%block js%}
<script src="{{url_for('static',filename='admin/plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static',filename='admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
<script
    src="{{url_for('static',filename='admin/plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
<script
    src="{{url_for('static',filename='admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static',filename='admin/plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
<script src="{{url_for('static',filename='admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static',filename='admin/plugins/jszip/jszip.min.js')}}"></script>
<script src="{{url_for('static',filename='admin/plugins/pdfmake/pdfmake.min.js')}}"></script>
<script src="{{url_for('static',filename='admin/plugins/pdfmake/vfs_fonts.js')}}"></script>
<script src="{{url_for('static',filename='admin/plugins/datatables-buttons/js/buttons.html5.min.js')}}"></script>
<script src="{{url_for('static',filename='admin/plugins/datatables-buttons/js/buttons.print.min.js')}}"></script>
<script src="{{url_for('static',filename='admin/plugins/datatables-buttons/js/buttons.colVis.min.js')}}"></script>

<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
{%endblock%}