:root {
  --color_negro_claro: #151f21;
  --color_principal: #ffcb02;
}

[class*="sidebar-dark-"] {
  background-color: var(--color_negro_claro);
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
  background-color: var(--color_principal);
  color: black;
}

.contenedor_logo {
  display: flex;
  align-items: center;
  gap: 2.8rem;
}

.palabra_logo {
  font-size: 1.6rem;
}

.logomalmo {
  color: var(--color_principal);
}

.foto_usuario_tabla {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto_usuario_tabla img {
  height: 60px;
  max-width: 100%;
}
.card-danger:not(.card-outline) > .card-header {
  background-color: var(--color_principal);
  color: black;
}

.btn-primary {
  background-color: #151f21;
}

#messages img {
  height: 80px;
  width: 60px;
  border-radius: 5px;
  margin-right: 20px;
}

#messages li {
  height: 80px;
}

#messages span {
  font-weight: bold;
  font-size: 1.2rem;
}

ul {
  list-style: none;
}

div .card.card-danger.direct-chat.direct-chat-danger {
  height: 600px;
}

div .direct-chat-messages {
  height: 100%;
}
