<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        {%for item in data['productos']%}
        <tr>
            <td>{{item.sku}}</td>
            <td>{{item.nombre_producto}}</td>
            <td>{{item.descripcion_producto}}</td>
            <td>{{item.costo_producto}}</td>
            <td>{{item.precio_producto}}</td>
            <td>{{item.marca.nombre_marca}}</td>
            <td>{{item.marca.descripcion_marca}}</td>
        </tr>
        {%endfor%}
    </table>
</body>

</html>